---
layout: page
title: Latest Posts
excerpt: "The posts history"
search_omit: true
---

<blockquote class="tr_bq">
  This blog is absolutely non profit.<br />
  This blog does not reflect absolute truth, but only my perception and life experience.<br />
  <br />
</blockquote>
<br />

<hr />

<ul class="post-list">
{% for post in site.posts limit:10 %}
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>{% if post.excerpt %} <span class="excerpt">{{ post.excerpt | remove: '\[ ... \]' | remove: '\( ... \)' | markdownify | strip_html | strip_newlines | escape_once }}</span>{% endif %}</a></article></li>
{% endfor %}
</ul>

<div dir="ltr" style="text-align: left;" trbidi="on">

  <hr />
  <br />
  <br />
  <a class="twitter-timeline" style="border: none; display: block; height: 250px; margin: 10px 0px; padding: 0px; position: static; transition: 0.3s linear; visibility: visible; width: 100%;" data-dnt="true" data-widget-id="701778465901694976" href="https://twitter.com/eugeniu_c">Tweets by @eugeniu_c</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <br />
</div>

